.root-pane {
    -fx-background-color: #0d0d0d;
    -fx-padding: 60;
}

.title-main {
    -fx-text-fill: #f5c518;
    -fx-font-family: "Courier New";
    -fx-font-size: 52px;
    -fx-font-weight: bold;
}

.title-sub {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Courier New";
    -fx-font-size: 20px;
    -fx-letter-spacing: 8px;
}

.stars {
    -fx-text-fill: #cc0000;
    -fx-font-family: "Courier New";
    -fx-font-size: 16px;
}

.menu-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #f5c518;
    -fx-font-family: "Courier New";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-border-color: #f5c518;
    -fx-border-width: 2;
    -fx-cursor: hand;
}

.menu-btn:hover {
    -fx-background-color: #f5c518;
    -fx-text-fill: #0d0d0d;
}

.menu-btn-exit {
    -fx-background-color: transparent;
    -fx-text-fill: #cc0000;
    -fx-font-family: "Courier New";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-border-color: #cc0000;
    -fx-border-width: 2;
    -fx-cursor: hand;
}

.menu-btn-exit:hover {
    -fx-background-color: #cc0000;
    -fx-text-fill: #0d0d0d;
}